@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/fundo.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0 .2);
}

.container h2 {
    font-size: 36px;
    text-align: center;
    color: rgb(67, 172, 214);
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 24px;
    border: 2px solid rgb(67, 172, 214);
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    color: #fff;
    position: absolute;
    right: 20px;
    font-size: 18px;
    top: 30%;
}

.Remember-password {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;    

}

.Remember-password label {
    font-size: 14px;
}

.Remember-password label a {
    font-size: 14px;
    padding-left: 3px;
}

.Remember-password label input {
    accent-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.Remember-password a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    font-size: 14px;
}

.Remember-password a:hover {
    text-decoration: underline;
}

.Login {
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border-radius: 24px;
    border: 2px solid rgb(67, 172, 214);
    cursor: pointer;
    margin: 0px 0px 15px;
    font-weight: 550;
    font-size: 1rem;
    color: white;
    transition: 0.3s ease;
}

.Login:hover {
    background-color: rgb(67, 172, 214);
    color: black;
    transform: translateY(-2px);
    scale: 1.03;
}

.Dont-remember {
    font-size: 12px;
    margin-top: -5px;
    padding-left: 10px;
}

.Dont-remember p {
    cursor: default;
}

.Dont-remember a {
    color: white;
    text-decoration: none;
    font-weight: 450;
}

.Dont-remember a:hover {
    text-decoration: underline;
}